## 作業說明

Day8 我們介紹了 CSV 檔案格式並學習如何用 Python 操作 CSV 格式檔案

今日作業我們針對 pandas 套件來進行練習

請嘗試填空以下代碼，獲得指定結果：

In [1]:
import pandas as pd

### 檔案讀取
- 使用 `read_csv` 進行檔案讀取

In [2]:
csv_file_url = "https://raw.githubusercontent.com/hpcc-systems/EDGAR-SEC-Filings/1727820ffa2216ed2447bb6a265a54ef6503f001/Data/labelguide_all_10k.csv"
df = pd.read_csv(csv_file_url)
df

                     original                    sandp
0       ed_20200220_10k_0.xml    ed_20200220_10k_1.xml
1      ppx_20200214_10k_1.xml   ppx_20200214_10k_1.xml
2       eb_20200302_10k_1.xml    eb_20200302_10k_0.xml
3       st_20200211_10k_1.xml    st_20200211_10k_0.xml
4      clr_20200226_10k_1.xml   clr_20200226_10k_0.xml
...                       ...                      ...
1266   hog_20200219_10k_1.xml   hog_20200219_10k_0.xml
1267   kex_20200224_10k_1.xml   kex_20200224_10k_0.xml
1268   cop_20200218_10k_1.xml   cop_20200218_10k_0.xml
1269  cnxm_20200210_10k_0.xml  cnxm_20200210_10k_0.xml
1270   scl_20200227_10k_1.xml   scl_20200227_10k_1.xml

[1271 rows x 2 columns]

### 資料描述
- 使用 `.info()` 查看欄位資料型態及空值數
- 使用 `.describe()` 查看各欄位資料的統計情形

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1271 entries, 0 to 1270
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   original  1271 non-null   object
 1   sandp     1271 non-null   object
dtypes: object(2)
memory usage: 20.0+ KB

In [4]:
df.describe()

                     original                  sandp
count                    1271                   1271
unique                   1271                   1271
top     ed_20200220_10k_0.xml  ed_20200220_10k_1.xml
freq                        1                      1

### 選取特定欄位
- 使用 [col_name] 
- 使用 `.iloc[]`
- 使用 `.loc[]`

In [5]:
df['original']

0         ed_20200220_10k_0.xml
1        ppx_20200214_10k_1.xml
2         eb_20200302_10k_1.xml
3         st_20200211_10k_1.xml
4        clr_20200226_10k_1.xml
                 ...
1266     hog_20200219_10k_1.xml
1267     kex_20200224_10k_1.xml
1268     cop_20200218_10k_1.xml
1269    cnxm_20200210_10k_0.xml
1270     scl_20200227_10k_1.xml
Name: original, Length: 1271, dtype: object

In [6]:
df.iloc[:, 0:1]

                     original
0       ed_20200220_10k_0.xml
1      ppx_20200214_10k_1.xml
2       eb_20200302_10k_1.xml
3       st_20200211_10k_1.xml
4      clr_20200226_10k_1.xml
...                       ...
1266   hog_20200219_10k_1.xml
1267   kex_20200224_10k_1.xml
1268   cop_20200218_10k_1.xml
1269  cnxm_20200210_10k_0.xml
1270   scl_20200227_10k_1.xml

[1271 rows x 1 columns]

In [7]:
df.loc[:, 'original']

0         ed_20200220_10k_0.xml
1        ppx_20200214_10k_1.xml
2         eb_20200302_10k_1.xml
3         st_20200211_10k_1.xml
4        clr_20200226_10k_1.xml
                 ...
1266     hog_20200219_10k_1.xml
1267     kex_20200224_10k_1.xml
1268     cop_20200218_10k_1.xml
1269    cnxm_20200210_10k_0.xml
1270     scl_20200227_10k_1.xml
Name: original, Length: 1271, dtype: object

### 選取特定列
- 使用 `.iloc[]`
- 使用 `.loc[]`

In [8]:
df.iloc[55:56, :]

                   original                    sandp
55  hubs_20200212_10k_1.xml  hubs_20200212_10k_0.xml

In [9]:
df.loc[55:60, :]

                   original                    sandp
55  hubs_20200212_10k_1.xml  hubs_20200212_10k_0.xml
56   jll_20200227_10k_1.xml   jll_20200227_10k_0.xml
57    cp_20200220_10k_1.xml    cp_20200220_10k_1.xml
58  deck_20200601_10k_0.xml  deck_20200601_10k_0.xml
59   cof_20200220_10k_1.xml   cof_20200220_10k_0.xml
60  dukb_20200220_10k_1.xml  dukb_20200220_10k_1.xml

### 篩選特定列資料

- "original" 欄位中包含 deck 的資料樣本
- Hint: `str.contains("some_string")`

In [10]:
df[df["original"].str.contains('deck')]

                   original                    sandp
58  deck_20200601_10k_0.xml  deck_20200601_10k_0.xml

### 切分到多個欄位
- 使用 `str.split(expand=True)`

In [11]:
df[['a', 'date', 'amount', 'd']] = df['original'].str.split(pat='_', n=3, expand=True)
df

,original,sandp,a,date,amount,d
0,ed_20200220_10k_0.xml,ed_20200220_10k_1.xml,ed,20200220,10k,0.xml
1,ppx_20200214_10k_1.xml,ppx_20200214_10k_1.xml,ppx,20200214,10k,1.xml
2,eb_20200302_10k_1.xml,eb_20200302_10k_0.xml,eb,20200302,10k,1.xml
3,st_20200211_10k_1.xml,st_20200211_10k_0.xml,st,20200211,10k,1.xml
4,clr_20200226_10k_1.xml,clr_20200226_10k_0.xml,clr,20200226,10k,1.xml
...,...,...,...,...,...,...
1266,hog_20200219_10k_1.xml,hog_20200219_10k_0.xml,hog,20200219,10k,1.xml
1267,kex_20200224_10k_1.xml,kex_20200224_10k_0.xml,kex,20200224,10k,1.xml
1268,cop_20200218_10k_1.xml,cop_20200218_10k_0.xml,cop,20200218,10k,1.xml
1269,cnxm_20200210_10k_0.xml,cnxm_20200210_10k_0.xml,cnxm,20200210,10k,0.xml
1270,scl_20200227_10k_1.xml,scl_20200227_10k_1.xml,scl,20200227,10k,1.xml

In [12]:
df[['d', 'format']] = df['d'].str.split('.', n=1, expand=True)
df

,original,sandp,a,date,amount,d,format
0,ed_20200220_10k_0.xml,ed_20200220_10k_1.xml,ed,20200220,10k,0,xml
1,ppx_20200214_10k_1.xml,ppx_20200214_10k_1.xml,ppx,20200214,10k,1,xml
2,eb_20200302_10k_1.xml,eb_20200302_10k_0.xml,eb,20200302,10k,1,xml
3,st_20200211_10k_1.xml,st_20200211_10k_0.xml,st,20200211,10k,1,xml
4,clr_20200226_10k_1.xml,clr_20200226_10k_0.xml,clr,20200226,10k,1,xml
...,...,...,...,...,...,...,...
1266,hog_20200219_10k_1.xml,hog_20200219_10k_0.xml,hog,20200219,10k,1,xml
1267,kex_20200224_10k_1.xml,kex_20200224_10k_0.xml,kex,20200224,10k,1,xml
1268,cop_20200218_10k_1.xml,cop_20200218_10k_0.xml,cop,20200218,10k,1,xml
1269,cnxm_20200210_10k_0.xml,cnxm_20200210_10k_0.xml,cnxm,20200210,10k,0,xml
1270,scl_20200227_10k_1.xml,scl_20200227_10k_1.xml,scl,20200227,10k,1,xml

### 統計欄位類別個數
- 使用 `value_counts()`

In [13]:
df.d.value_counts()

1    997
0    274
Name: d, dtype: int64

### 文字轉換為時間格式
- `pd.to_datetime()`

In [14]:
df['date'] = pd.to_datetime(df['date'])
df['date']  # dtype: datetime64[ns]

0      2020-02-20
1      2020-02-14
2      2020-03-02
3      2020-02-11
4      2020-02-26
          ...
1266   2020-02-19
1267   2020-02-24
1268   2020-02-18
1269   2020-02-10
1270   2020-02-27
Name: date, Length: 1271, dtype: datetime64[ns]

### 對兩個以上欄位進行操作
- `.apply(axis=1)`

- 如果 `date` 晚於 2020 年 3 月份、且 d 等於 1 則新欄位為其日期加上一年，否則為原始日期

In [15]:
def gen_new_date(row):
    import datetime as dt
    if (row['date'] >= dt.datetime(2020, 3, 1)) and (row['d'] == 1):
        return row['date'] + dt.timedelta(days=365)
    else:
        return row['date']

df['d'] = df['d'].astype(int)
df['new_date'] = df.apply(lambda row: gen_new_date(row), axis=1)
df

,original,sandp,a,date,amount,d,format,new_date
0,ed_20200220_10k_0.xml,ed_20200220_10k_1.xml,ed,2020-02-20,10k,0,xml,2020-02-20
1,ppx_20200214_10k_1.xml,ppx_20200214_10k_1.xml,ppx,2020-02-14,10k,1,xml,2020-02-14
2,eb_20200302_10k_1.xml,eb_20200302_10k_0.xml,eb,2020-03-02,10k,1,xml,2021-03-02
3,st_20200211_10k_1.xml,st_20200211_10k_0.xml,st,2020-02-11,10k,1,xml,2020-02-11
4,clr_20200226_10k_1.xml,clr_20200226_10k_0.xml,clr,2020-02-26,10k,1,xml,2020-02-26
...,...,...,...,...,...,...,...,...
1266,hog_20200219_10k_1.xml,hog_20200219_10k_0.xml,hog,2020-02-19,10k,1,xml,2020-02-19
1267,kex_20200224_10k_1.xml,kex_20200224_10k_0.xml,kex,2020-02-24,10k,1,xml,2020-02-24
1268,cop_20200218_10k_1.xml,cop_20200218_10k_0.xml,cop,2020-02-18,10k,1,xml,2020-02-18
1269,cnxm_20200210_10k_0.xml,cnxm_20200210_10k_0.xml,cnxm,2020-02-10,10k,0,xml,2020-02-10
1270,scl_20200227_10k_1.xml,scl_20200227_10k_1.xml,scl,2020-02-27,10k,1,xml,2020-02-27

- 如果 `date` 早於 2020 年 3 月份、且 d 等於 0 則新欄位為其日期減去一年，否則為原始日期

In [16]:
def gen_new_date(row):
    import datetime as dt
    if (row['date'] <= dt.datetime(2020, 3, 1)) and (row['d'] == 0):
        return row['date'] - dt.timedelta(days=365)
    else:
        return row['date']

df['new_date_2'] = df.apply(lambda row: gen_new_date(row), axis=1)
df

,original,sandp,a,date,amount,d,format,new_date,new_date_2
0,ed_20200220_10k_0.xml,ed_20200220_10k_1.xml,ed,2020-02-20,10k,0,xml,2020-02-20,2019-02-20
1,ppx_20200214_10k_1.xml,ppx_20200214_10k_1.xml,ppx,2020-02-14,10k,1,xml,2020-02-14,2020-02-14
2,eb_20200302_10k_1.xml,eb_20200302_10k_0.xml,eb,2020-03-02,10k,1,xml,2021-03-02,2020-03-02
3,st_20200211_10k_1.xml,st_20200211_10k_0.xml,st,2020-02-11,10k,1,xml,2020-02-11,2020-02-11
4,clr_20200226_10k_1.xml,clr_20200226_10k_0.xml,clr,2020-02-26,10k,1,xml,2020-02-26,2020-02-26
...,...,...,...,...,...,...,...,...,...
1266,hog_20200219_10k_1.xml,hog_20200219_10k_0.xml,hog,2020-02-19,10k,1,xml,2020-02-19,2020-02-19
1267,kex_20200224_10k_1.xml,kex_20200224_10k_0.xml,kex,2020-02-24,10k,1,xml,2020-02-24,2020-02-24
1268,cop_20200218_10k_1.xml,cop_20200218_10k_0.xml,cop,2020-02-18,10k,1,xml,2020-02-18,2020-02-18
1269,cnxm_20200210_10k_0.xml,cnxm_20200210_10k_0.xml,cnxm,2020-02-10,10k,0,xml,2020-02-10,2019-02-10
1270,scl_20200227_10k_1.xml,scl_20200227_10k_1.xml,scl,2020-02-27,10k,1,xml,2020-02-27,2020-02-27