## 作業說明

Day5 我們淺談了 Restful API，他是一種開發風格，讓命名規則統一、更易於維護和閱讀

我們也提供範例程式教大家如何串接 KKBOX API

今天的作業要請大家嘗試串接 Binance API 獲取特定交易對的歷史 K 線數據：

- 目標交易對： BTCUSDT
- K 線頻率： 小時線 (1h)
- 目標時間區間： 2022/05/12 00:00:00 – 2022/05/18 23:59:59

> Hint: 
> 1. API 文檔：https://binance-docs.github.io/apidocs/spot/en/#kline-candlestick-data
>    - 先找到 API 的 base Endpoint 
>    - 查找文件中你需要的功能，其對應的 endpoint 為何（例如 `GET /api/v3/trades`）
> 2. API 的時間參數格式需為 Unix Timestamp
>    - 可以用人工方式找到[線上轉換器](https://www.unixtimestamp.com/)轉換
>    - 使用 `datetime` 套件進行轉換 
       - Ex: `datetime.datetime.timestamp(datetime.datetime(2022, 5, 18))`

In [1]:
import datetime as dt
import requests
import pandas as pd

In [2]:
base_url = "https://api.binance.com"
api_url = base_url + "/api/v3/klines"
coin_pair = "BTCUSDT"
interval = "1h"
start_time = dt.datetime.timestamp(dt.datetime(2022, 5, 12, 0, 0, 0))
end_time = dt.datetime.timestamp(dt.datetime(2022, 5, 18, 23, 59, 59))

r = requests.get(url=api_url, params={"symbol": coin_pair, "interval": interval, "startTime": int(start_time)*1000, "endTime": int(end_time)*1000})
print(r.url)

https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1h&startTime=1652284800000&endTime=1652889599000

In [3]:
data = r.json()
kline_cols = ["Open_time","Open","High","Low","Close","Volume","Close_time","Quote_asset_volume","Trade_num","Taker_buy_base_asset_volume","Taker_buy_quote_asset_volume","Ignore"]
pd.DataFrame(data, columns=kline_cols)

,Open_time,Open,High,Low,Close,Volume,Close_time,Quote_asset_volume,Trade_num,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,Ignore
0,1652284800000,30977.61000000,31131.58000000,30206.30000000,30327.19000000,5657.92082000,1652288399999,173425987.01199820,125195,2601.25798000,79730253.31853390,0
1,1652288400000,30327.20000000,30380.00000000,29402.00000000,29924.38000000,8436.15417000,1652291999999,252871199.40845170,148964,3885.27161000,116484051.45590780,0
2,1652292000000,29924.38000000,30266.10000000,29750.00000000,29915.90000000,4928.23052000,1652295599999,147725161.13727360,101361,2327.50118000,69785790.78008700,0
3,1652295600000,29915.90000000,30046.00000000,29190.00000000,29372.22000000,5061.33820000,1652299199999,149647684.50926640,109055,2483.35506000,73432567.25892510,0
4,1652299200000,29372.21000000,29652.63000000,28200.00000000,28486.14000000,9983.98607400,1652302799999,288963539.20559147,219598,3625.88023500,105197038.21353154,0
...,...,...,...,...,...,...,...,...,...,...,...,...
163,1652871600000,29950.94000000,29972.08000000,29753.66000000,29833.58000000,1610.15741000,1652875199999,48046970.86213410,46275,730.82414000,21806027.52560060,0
164,1652875200000,29833.59000000,29909.66000000,29514.13000000,29549.51000000,2553.04538000,1652878799999,75857469.29914550,56119,1202.75886000,35735528.66641190,0
165,1652878800000,29549.50000000,29680.00000000,29289.23000000,29348.78000000,5254.46966000,1652882399999,154925963.70475240,85837,2657.53374000,78363302.48057930,0
166,1652882400000,29348.79000000,29500.00000000,29064.74000000,29240.01000000,3495.13411000,1652885999999,102362631.61424990,70188,1721.44954000,50427226.33845230,0
167,1652886000000,29240.00000000,29241.85000000,28875.00000000,28984.99000000,4392.70808000,1652889599999,127482442.04290230,80971,1948.54765000,56547427.51543740,0